.allDelegate {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -15px 20px;
}

.card1 {
    width: 29%;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.101);*/
    border: 1px solid #e5e4e4c2;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}
.card1_en{
    margin: 1rem 50px 1rem 0px;
}
.card1_ar{
    margin: 1rem 30px 1rem 20px;
}



.dele_icon {
    font-size: 45px;
    color: var(--main-color);
    margin-top: -10px;
    margin-right: 20px;
}

.stats {
    display: flex;
}

.infos {
    margin-left: 1.5rem;
}

.name {
    margin-bottom: 1rem;
    color: #6a6a6a;
}

.name h2 {
    font-size: 1.3rem;
}

.name h4 {
    font-size: .8rem;
}

.text {
    font-size: .9rem;
    margin-bottom: 1rem;
}

.stats {
    margin-bottom: 1rem;
}

.stats li {
    min-width: 5rem;
}

.stats li h3 {
    font-size: .99rem;
}

.stats li h4 {
    font-size: .75rem;
}

.links button {
    font-family: 'Poppins', sans-serif;
    min-width: 120px;
    padding: .5rem;
    border: 1px solid #222;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
}

.links .follow,
.links .view:hover {
    background-color: #222;
    color: #FFF;
}

.links .view,
.links .follow:hover {
    background-color: transparent;
    color: #222;
}

.dele_info {
    width: 100%;
}

.dele_info_icon {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #6a6a6a;
    margin-bottom: 5px;
}

.dele_info_icon i {
    font-size: 20px !important;
    /* margin-right: 20px;*/
    
}
.dele_info_icon img{
    width: 16px;
    height: 16px;
}

.div_btnd {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.div_btnd button {
    margin-right: 20px;
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 13px;
}

.del_btn_dele {
    background-color: #cb362590;
}

.edit_btn_dele {
    background-color: /*#22baa18d*/ #50B798;
}

.input_edit_delegates {
    width: 85%;
    margin-bottom: 10px;
    outline: none;
    padding: 2px 10px;
    border: 1px solid #8080803f;
    border-radius: 10px;
    color: gray;
    font-size: 13px;
}

.input_edit_delegates:focus {
    border: 1px solid #f256568d;
}

@media screen and (max-width: 1480px) {
    .card1 {
        width: 28%;
    }
}

@media screen and (max-width: 1370px) {
    .card1 {
        width: 42%;
    }
}

@media screen and (max-width: 1046px) {
    .card1 {
        width: 80%;
    }
}

.date-range-container {
    position: relative;
    display: inline-block;
    
}

.date-range-picker-wrapper {
    cursor: pointer;
}

.date-range-picker {
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.medwithvisits{
    position: absolute;
    top: 10px;
    background-color: var(--main-color);
    padding: 2px 20px;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.medwithvisits_en{
    right: 20px;
}
.medwithvisits_ar{
    left: 20px;
}