.allproducts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
}

.oneproduct {
    width: 22%;
    border-radius:20px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #c4c3c3f2;
}

.img_product {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 4px;
    border-bottom: 1px solid #c4c3c3f2;
}
.product_cat{
    background-color: /*#f256568d*/ rgba(0, 0, 0, 0.55);
    color: white;
    padding: 8px 30px;
    border-top-left-radius: 20px;
}
.product_info {
    min-height: 50px;
    margin: 0px 0px 0px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.product_info span{
    text-align: center;
    font-size: 13px;
    color: gray;
}
.product_info h5{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.action_product{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.action_product i{
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.action_product i:hover {
    transform: scale(1.3);
}
@media screen and (max-width: 1340px) {
    .oneproduct {
        width: 29%;
    }
}
@media screen and (max-width: 1062px) {
    .oneproduct {
        width: 43%;
    }
}
@media screen and (max-width: 703px) {
    .oneproduct {
        width: 85%;
    }
}
.product_info input,.product_info select,.product_cat_edit,.product_info textarea{
    width: 90%;
    border: 1px solid #e0e0e0;
    padding: 2px 10px;
    border-radius: 15px;
    color: gray;
    margin-bottom: 5px;
    outline: none !important;
}
.product_info textarea{
    height: 70px;
}
.product_info select{
    padding: 5px 10px;
}
.product_cat_edit{
    margin-left: 10px;
}
.edit_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.edit_image i{
    font-size: 50px;
}
.edit_image span{
    font-weight: bold;
}
.div_creatable{
    margin-left: 10px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    color: gray;
    margin-top: 10px;
}
.iswidth{
    width: 500px !important;
}
.view_creatable{
    padding: 10px 15px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d3d0d0a7;
    cursor: pointer;
}
.view_creatable1{
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    outline: none;
    font-size: 13px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
}
.lable_multi{
    display: flex;
    flex-direction: row;
    margin: 5px 30px;
}
.lable_multi input{
    width: auto !important;
}
.lable_multi span{
    margin-top: -7px;
    margin-left: 20px;
}
.select_creatable{
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 14px -1px rgb(225, 225, 225);
    border-radius: 15px;
    width: 100%;
    height: 180px;
    overflow: auto;
    z-index: 100;
    top: 48px;
    padding: 10px 0px;
}
.input_custm_select{
    width: 90% !important;
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid var(--main-color) !important;
    color: gray !important;
    border-radius: 0px !important;
}
.choose_creatable{
    width: 100%;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 2px;
    cursor: pointer;
}
.active_creatable{
    background-color: var(--main-color);
    color: white;
}
.view_creatable2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #e0e0e0;
    color: gray;
    padding: 5px 10px;
    margin: 5px 20px;
    border-radius: 15px;
}