  .paginationBttns {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .paginationBttnsNew{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .previousBttn,.nextBttn{
    font-size: 13px;
    padding: 5px 20px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: white !important;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  .currentPage{
    margin-right: 20px;
    margin-left: 10px;
    background-color: white;
    padding: 7px;
    box-shadow: 0px 0px 25px -2px rgba(104, 104, 104, 0.83);
  }

  .paginationBttns a {
    padding: 7px;
    margin: 8px;
    color: gray;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
  }

  .paginationBttns a:hover {
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 0px 25px -2px rgba(193, 193, 193, 0.83);
  }

  .paginationActive a {
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 0px 25px -2px rgba(193, 193, 193, 0.83);
  }

  .paginationDisabled a {
    display: none;
  }