.noper{
    width:100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noper img{
    width: 150px;
    height: 150px;
}
.noper h3{
    font-size: 19px;
    color: var(--title-color);
}
.notnot{
    color: var(--title-color) !important;
    margin-top: 5px;
}