.allExternal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 20px;
}
.plan {
    border-radius: 16px;
    padding: 10px;
    background-color: #fff;
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.101);*/
    border: 1px solid #e5e4e4c2;
    color: #697e91;
    width: 22%;
    margin-right: 30px;
    margin-bottom: 20px;
}

.plan strong {
    font-weight: 600;
    color: #425275;
}

.plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #e5e5e942;
    border-radius: 12px;
    position: relative;
}

.plan .pricing {
    position: absolute;
    top: 0;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 0.3em 1.2em;
    font-size: 13px;
    color: white;
}
.pricing_left{
    right: 0;
    border-radius: 99em 0 0 99em;
}
.pricing_right{
    left: 0;
    border-radius: 0em 99em 99em 0em;
}
.plan .pricing small {
    color: white;
    font-size: 0.75em;
    margin-left: 0.25em;
}

.plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
}

.plan .title+* {
    margin-top: 0.75rem;
}

.plan .info+* {
    margin-top: 1rem;
}

.plan .features {
    display: flex;
    flex-direction: column;
}

.plan .features li {
    display: flex;
    gap: 0.5rem;
}

.plan .features li+* {
    margin-top: 0.5rem;
}

.peoplee{
    width: 20px !important;
    height: 20px !important;
}
.loc222{
    width: 17px !important;
    height: 20px !important;
}

.plan .features .icon img {
    width: 14px;
    height: 14px;
}

.plan .features+* {
    margin-top: 1.25rem;
}

.plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
    background-color: #4133B7;
}
@media screen and (max-width: 1340px) {
    .plan {
        width: 29%;
    }
}
@media screen and (max-width: 1062px) {
    .plan {
        width: 43%;
    }
}
@media screen and (max-width: 703px) {
    .plan {
        width: 85%;
    }
}

.mapPop{
    width: 900px;
    height: 600px;
    border-radius: 10px;
    padding: 0px !important;
}
.div_mapPop{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.linkMap,.ex_loc{
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.linkMap:hover .ex_loc{
    border-bottom: 1px solid var(--main-color);
}