.users{
    width: 100%;
    margin: 25px 0px;
}

.popAdd{
    width: 700px;
    height: auto;
    border-radius: 10px;
    top: 0px !important;
    padding: 30px 50px !important;
}
.popAddForm{
    width: 100%;
}
.popAddForm form{
    width: 98%;
}
.popAddForm h3{
    margin-bottom: 30px;
    font-size: 23px;
    color: #1B262C;
    direction: rtl;
}
.input_row11{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.one_input_row{
    width: 47%;
}
.one_input_row input,.input_no_row input,.one_input_row textarea,.one_input_row select,.input_no_row select{
    width: 100%;
    padding: 7px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin: 0px 10px;
    outline: none;
    font-size: 13px;
    color: gray;
}
.one_input_row input:focus,.one_input_row textarea:focus,.input_no_row input:focus,.one_input_row select:focus,.input_no_row select:focus{
    border: 2px solid var(--main-color);
}
.input_no_row{
    width: 100%;
    margin-top: 15px;
}
.div_btn button{
    margin: 30px 10px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}