.input_quill {
    height: 300px;
    border-radius: 10px !important;
    border: none;
    background-color: var(--light);
}
.div_ReactQuill{
    width: 85%;
    margin: 60px auto 30px auto;
}
.div_ReactQuill h5{
    margin-bottom: 15px;
    color: var(--main-color);
}
.btn_privacy{
    background-color: var(--main-color);
    color: white;
    padding: 7px 25px;
    font-size: 13px;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.ql-container.ql-snow{
    border: none;
    height: 300px;
}
.ql-toolbar.ql-snow{
    background-color: white;
    height: 60px;
    color: gray !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.ql-snow .ql-picker{
    color: gray !important;
}
.input_quill11{
	border: 1px solid #c4c4c4;
	border-radius: 15px;
	overflow-y: auto;
}