.checkbox_pro {
    margin: 10px 0px 0px 10px;
    width: 20px;
    height: 20px;
}

.btn_product_assign {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.btn_assign1 {
    padding: 6px 50px;
    border: 1px solid #e5e4e4f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 13px;
    color: #50B798;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn_assign1:hover {
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
}

.div_assign_stock {
    position: absolute;
    top: 100px;
    width: 550px;
    height: 430px;
    overflow: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -1px rgb(223, 222, 222);
    z-index: 10;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div_assign_stock_en {
    right: 0px;
}

.div_assign_stock_ar {
    left: 0px;
}

.div_assign_stock_row {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.div_assign_stock_row span {
    margin-left: 15px;
    font-weight: bold;
}

.quantity_stock {
    width: 90%;
    padding: 4px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #dad9d9f2;
    margin: 15px 0px;
}

.div_assign_stock button {
    margin-top: 20px;
    border: none;
    outline: none !important;
    padding: 6px 23px !important;
    background-color: var(--main-color);
    color: white !important;
    cursor: pointer;
    border-radius: 20px;
    font-size: 13px;
}

.quantityPro{
    padding: 5px 8px;
    border-radius: 50%;
    color: white !important;
    margin-top: -5px;
}
.withQuantity{
    display: flex;
    align-items: center;
}