.repo_visits_row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.repo_visits_row span{
    margin: 0px 10px;
}
.alternative{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.alternative img {
    width: 100px;
    height: 100px;
}
.alternative p{
    color: gray;
}