.newDetails{
    width: 100%;
    margin: 25px 0px;
}
.div_task_details{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
}
.div_task_details img{
    width: 130px;
    height: 130px;
}
.div_task_details_info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.div_task_details_info span{
    color: gray;
}
.modal_popUp_DetailsProducts{
    border-radius: 10px;
}
.popUp_DetailsProducts{
    width: 800px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
}
.row_div_task_details{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.row_div_task_details img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.row_div_task_details i{
    font-size: 20px;
    margin-right: 20px;
}