.main_notify{
    width: 100%;
}
.all_notify{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 6.5rem;
}
.one_notify{
    width: 95%;
    background-color: white;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    padding: 7px 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 30px -1px rgb(235, 235, 235);
    cursor: pointer;
}
.one_notify span{
    color: gray;
}
.boder_leftt{
    border-left: 4px solid var(--main-color);
}
.boder_rightt{
    border-right: 4px solid var(--main-color);
}
.tit_notify{
    font-weight: bold;
    color: var(--main-color);
}

@media only screen and (max-width: 1200px) {
    .all_notify {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 931px) {
    .all_notify {
        grid-template-columns: 100%;
    }
}

.bottom_analytics{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.one_bottom_analytics{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border: 1px solid #ebebebf2;
    border-radius: 15px;
    margin-top: 20px;
    color: gray;
    font-size: 14px;
}
.workplanrepo{
    color: var(--main-color);
    margin-top: 30px;
}
.alltaskscount{
    font-size: 16px;
    color: var(--main-color);
    font-weight: bold;
}

@media screen and (max-width : 1285px) {
    .one_bottom_analytics{
        width: 40%;
    }
}
@media screen and (max-width : 772px) {
    .one_bottom_analytics{
        width: 80%;
    }
}

.div_static_target{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.div_static_target_card{
    width: 40%;
}

.div_static_target_chart{
    width: 45%;
}
.one_bottom_analytics1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border: 1px solid #ebebebf2;
    border-radius: 15px;
    margin-top: 20px;
    color: gray;
    font-size: 14px;
    width: 100%;
}

@media screen and (max-width : 1058px) {
    .div_static_target_card,.div_static_target_chart{
        width: 100%;
    }
    .div_static_target_chart{
        margin-top: 10px;
    }
}

.oneFilternew {
    width: 18%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date_inn{
    width: 180px !important;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    padding: 7px 10px;
    color: gray;
    margin-top: -5px;
    font-size: 13px;
}
.oneFilternew input,
.oneFilternew select {
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    padding: 7px 10px;
    color: gray;
    margin-top: -5px;
    font-size: 13px;
}

.oneFilternew select{
    padding: 9px 10px;
}
.oneFilternew2{
    width: 35% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
@media screen and (max-width: 1175px) {
    .oneFilternew {
        width: 24%;
    }
    .oneFilternew2{
        width: 55%;
    }
}
@media screen and (max-width: 771px) {
    .oneFilternew {
        width: 30%;
    }
    .oneFilternew2{
        width: 65%;
    }
}
@media screen and (max-width: 682px) {
    .oneFilternew {
        width: 45%;
    }
    .oneFilternew2{
        width: 75%;
    }
}

@media screen and (max-width: 559px) {
    .oneFilternew {
        width: 85%;
    }
    .oneFilternew2{
        width: 90%;
    }
}