.lang{
    position: absolute;
    background-color: white;
    color: gray;
    box-shadow: 0px 0px 20px -3px rgba(170, 170, 170, 0.5);
    border-radius: 10px;
	top: 55px;
    display: flex;
    flex-direction: column;
    width: 170px;
    padding: 10px 20px;
}
.langR{
	right: 130px;
}
.langL{
	left: 130px;
}
.lang span{
    padding: 8px 0px 8px 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.lang span:first-child{
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 8px 0px 15px 8px;
    margin-bottom: 0px;
}
.lang span:hover{
    background-color: rgba(209, 209, 209, 0.244);
    border-bottom: none;
    border-radius: 10px;
}
.user_info{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 12px;
}

.notify{
	position: absolute;
	background-color: white;
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
	top: 25px;
	padding: 10px 0px 0px 0px;
	width: 500px;
	border-radius: 10px;
}
.notifyR{
	right: 0px;
}
.notifyL{
	left: 0px;
}
.notify h5{
	padding: 10px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.066);
	color: var(--main-color);
}
.row_notify{
	background-color: transparent;
	display: flex;
	align-items: center;
	padding: 15px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.066);
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.row_notify_load{
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row_notify:last-child{
	border-bottom: none;
}
.row_notify:hover .title_notify{
	color: #24b19a;
	font-size: 17px;
}
.row_notify img {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.085) ;
	padding: 5px;
	border-radius: 50%;
}
.row_notify_info{
	display: flex;
	flex-direction: column;
}
.title_notify{
    font-size: 14px !important;
	color: gray;
	font-weight: bold;
	transition: all .3s ease-in-out;
}
.date_notify{
	font-size: 15px;
	color: var(--main-color);
}
.date_notify1{
	font-size: 14px;
	color: #878686;
}
.div_more{
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.div_more span{
    font-size: 15px !important;
	font-weight: bold;
	color: var(--main-color);
	transition: all .3s ease-in-out;
}
.div_more:hover span{
	color: #24b19a;
	font-size: 17px;
}