.assign {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 20px;
}

.filter_assign {
    margin-bottom: 20px;
}

.all_div_checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
}

.div_checkbox {
    width: 40%;
    height: 450px;
    padding: 20px 25px;
    overflow-y: auto;
    border: 1px solid #e5e4e4f2;
    border-radius: 15px;
}

.div_selected {
    width: 40%;
    height: 450px;
    padding: 20px 25px;
    overflow-y: auto;
    border: 2px dotted var(--main-color);
    border-radius: 15px;
}
.margin_right_70{
    margin-right: 70px;
}
.margin_left_70{
    margin-left: 70px;
}

.div_checkbox h5,
.div_selected h5 {
    margin-bottom: 20px;
    color: gray;
}

.name_medRep {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid #e5e4e4f2;
}
.name_medRep input {
    width: 15px !important;
    height: 15px !important;
    /*margin-right: 20px;*/
}

.name_medRep span{
    color: gray;
    font-size: 14px;
}
.name_medRep_name{
    width: 40%;
}
.name_medRep_address{
    width: 30%;
}
.name_medRep_medical_rep{
    width: 30%;
}
.all_div_select {
    width: 70%;
    border-radius: 15px;
    margin-right: 30px;
}

.selectMed {
    background-color: white;
    width: 80%;
    margin: 15px;
    padding: 0px 10px;
    border-radius: 15px;
}

.all_div_select button {
    border: none;
    outline: none;
    background-color: #22baa1;
    font-size: 13px;
    color: white;
    padding: 5px 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    margin-top: 5px;
}

@media screen and (max-width: 828px) {
    .all_div_checkbox {
        flex-direction: column;
        padding: 0px !important;
        align-items: flex-start;
    }

    .div_checkbox {
        width: 90%;
        margin-bottom: 30px;
    }

    .div_selected {
        width: 90%;
        margin-right: 0px;
    }
}
.margin_assign{
    margin-right: 150px !important;
}

.popFilter{
    padding: 5px 20px;
    margin: 30px 0px 0px 0px !important;
    border-radius: 10px;
    float: right;
}
.div_popFilter{
    margin: 50px 20px ;
    width: 350px ;
    height: 400px;
}
.div_popFilter h4{
    text-align: center;
    color: var(--main-color);
    margin-bottom: 50px;
}
@media screen and (max-width: 534px) {
    .edituser{
        width: 350px;
    }
}
@media screen and (max-width: 475px) {
    .edituser{
        width: 300px;
    }
}
@media screen and (max-width: 427px) {
    .edituser{
        width: 230px;
    }
}

.input_filter_assign{
    margin: 20px 0px 30px 0px;
}
.action_assign{
    display: flex;
    align-items: center;
    margin-top: -13px;
}
.text_alt{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
.unassign{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6d6;
    margin-bottom: 10px;
    padding: 7px 10px;
    margin: 15px 0px;
    border-radius: 10px;
}
.span_unassign{
    font-size: 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.span_unassign:hover{
    font-size: 15px;
}
.colcol{
    display: flex;
    flex-direction: column;
}
.bothcol{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.bothcol img{
    width: 15px;
    height: 15px;
}