.allworkplan{
    width: 100%;
    display: flex;
    /*align-items: flex-start;*/
    flex-wrap: wrap;
    margin: -15px 20px;
    background-color: transparent;
}
.oneworkplan{
    width: 29%;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #e5e4e4c2;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    background-color: white;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.oneworkplan:hover{
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
}
.head_plan{
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    margin-top: 15px;
    margin-bottom: 10px;
}
.head_plan span{
    font-size: 16px;
    font-weight: 600;
    /*color: #1FCAC5;*/
    /*color: #505CA8;*/
    color: gray;
    margin: 0px 10px;
}
.cal_work{
    font-size: 30px;
    color: var(--main-color) !important;
}
.head_plan i{
    color: gray;
}
.note{
    font-size: 14px;
    margin: 10px 0px ;
    color: gray;
}
.switch_plan{
    position: absolute !important;
    top: 10px;
    left: 10px;
}
.plan_day{
    display: flex;
    align-items: center;
    color: gray;
}
.plan_day_num{
    /*margin-left: 20px;*/
    font-size: 23px;
    color: /*#36ADB0*/ #50B798 !important;
}
.row_plann{
    width: 100%;
    display: flex;
    align-items: center;
}
.action_plan{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
@media screen and (max-width: 1480px) {
    .oneworkplan{
        width: 28%;
    }
}
@media screen and (max-width: 1370px) {
    .oneworkplan{
        width: 42%;
    }
}
@media screen and (max-width: 1046px) {
    .oneworkplan{
        width: 80%;
    }
}
.date_work{
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #cdccccc2;
    outline: none;
    border-radius: 10px;
    font-size: 13px ;
    color: gray;
}
.textarea_work{
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #cdccccc2;
    outline: none;
    border-radius: 10px;
    font-size: 13px ;
    color: gray;
    min-height: 80px;
}
.num_work{
    width: 30%;
    padding: 4px 8px;
    border: 1px solid #cdccccc2;
    outline: none;
    border-radius: 10px;
    font-size: 13px ;
    color: gray;
    margin-left: 10px;
}
.rep_work{
    width: 50%;
    padding: 4px 8px;
    border: 1px solid #cdccccc2;
    outline: none;
    border-radius: 10px;
    font-size: 13px ;
    color: gray;
    margin-left: 10px;
}
.icon_searchselect{
    color: gray !important;
    font-size: 15px !important;
    padding: 0px !important;
    background-color: white !important;
}

.refresh_plan{
    padding: 3px !important;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
.refresh_plan_backy{
    background-color: #50B798;
}
.refresh_plan_backN{
    background-color: #cb3625;
}
.refresh_plan i{
    font-size: 20px;
    color: white;
}
.active_plane{
    padding: 2px 19px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 50px;
    position: absolute;
    top: 7px;
    left: 10px;
}
.active_plane_blue{
    background-color: #50B798;
}
.active_plane_notblue{
    background-color: #cb3625;
}
.tabsActive{
    position: absolute;
    display: flex;
    flex-direction: column; 
}
.tabsActiveAr{
    left: 20px;
}
.tabsActiveEn{
    right: 20px;
}
.tabsActive span{
    padding: 5px 19px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}
.color_redd{
    color: #cb3625;
}