.checkmatch{
    background-color: #50b798;
    padding: 4px;
    border-radius: 50%;
    color: white;
}
.falsematch{
    background-color: red;
    padding: 4px;
    border-radius: 50%;
    color: white;
}
.div_chart{
    display: flex;
    align-items: center;
    height: 150px;
}
.apper{
    display: flex;
    flex-direction: column;
}
.one_square{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.match_square{
    width: 20px;
    height: 20px;
}
.not_match_square{
    width: 20px;
    height: 20px;
    background-color: #cecbcbcb;
}
.one_square span{
    font-size: 13px;
    /*margin-left: 10px;*/
}
.statistics{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
}
.all_card_statistics{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.one_card_statistics{
    width: 23%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    justify-content: space-between;
    border: 1px solid #e5e4e4dd;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
}
.one_card_statistics img{
    width: 60px;
    height: 60px;
   /* margin-right: 10px;*/
}
.info_statistics{
    width: 70%;
    font-size: 13px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.num_statistics{
    margin-top: 5px;
    padding: 1px 20px;
    border-radius: 50px;
    background-color: #50b798;
    color: white !important;
}

.allcharts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.onechart{
    width: 28%;
}
.PieChart{
    width: 220px;
    height: 220px;
}
@media screen and (max-width: 1340px) {
    .one_card_statistics{
        width: 30%;
    }
}
@media screen and (max-width: 1285px) {
    .onechart{
        width: 30%;
    }
}
@media screen and (max-width: 1135px) {
    .onechart{
        width: 47%;
    }
}
@media screen and (max-width: 1086px) {
    .one_card_statistics{
        width: 45%;
    }
}
@media screen and (max-width: 699px) {
    .one_card_statistics{
        width: 90%;
    }
}
@media screen and (max-width: 611px) {
    .onechart{
        width: 90%;
    }
}

.img_destination{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.img_destination img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.defaultt{
    width: 100px;
    height: 100px;
    background-color: #dfdfdf;
    border-radius: 10px;
}
.default_circle{
    width: 120px;
    height: 120px;
    background-color: #dfdfdf;
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}