.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.loader img {
    width: 130px;
    height: 130px;
    animation: pulse 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.loader1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
}

.loader1 img {
    width: 70px;
    height: 70px;
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}
.loadinselect{
    width: 100% !important;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proCatPop{
    width: 800px;
    height: 500px;
    border-radius: 15px;
}
.div_proCatPop{
    height: 100%;
    padding: 20px;
}
.form_with_info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.form_proCat{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
}
.form_proCat input, .form_proCat select{
    width: 100%;
    border: 1px solid #d6d5d5;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 13px;
    color: gray;
}
.form_proCat select{
    padding: 10px;
}
.info_proCat{
    width: 47%;
    height: 350px;
    padding: 27px 10px 5px 10px;
    overflow-y: auto;
}
.form_proCat button{
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 15px;
}
.one_info_proCat{
    background-color: white;
    border: 1px solid #e5e4e4a7;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 25px;
    margin-bottom: 13px;
}
.div_info_proCat{
    display: flex;
    flex-direction: column;
}
.name_proCat{
    font-size: 17px;
    font-weight: bold;
    color: var(--main-color);
}
.fontFamily{
    font-size: 14px;
    color: gray;
}
.action_proCat{
    display: flex;
    align-items: center;
}
.action_proCat i{
    font-size: 20px;
    margin: 0px 5px;
    cursor: pointer;
}
.edit_proCat{
    color: #50B798;
}
.del_proCat{
    color: #cb3625d7;
}
.input_edit_proCat{
    width: 100%;
    border: 1px solid #d6d5d5;
    outline: none;
    padding: 4px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-size: 13px;
    color: gray;
}