.allTasks {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
}

.oneTask {
    width: 320px !important;
    /*margin-right: 30px;*/
    min-height: 90vh !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.colTask {
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
    height: 90vh !important;
    overflow-y: auto;
}
.border_right{
    border-right: 1px solid #cbcacaa3;
}
.border_left{
    border-left: 1px solid #cbcacaa3;
}

.div_task{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.border_true{
    border: 1px solid /*#22baa18d*/ #50B79895;
}
.border_false{
    border: 1px solid #cb362534;
}
.div_task_left_true{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: /*#22baa18d*/ #50B798;
    color: white;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.div_task_left_false{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cb362590;
    color: white;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.div_task_info{
    width: 100%;
    margin: 7px 15px;
}
.icon_task{
    font-size: 13px;
    color: gray;
    display: flex;
    align-items: center;
}
.icon_task i{
    font-size: 19px;
    /*margin-right: 10px;*/
}
.bothh{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
}
.top_task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_task button{
    border: none;
    outline: none;
    font-size: 12px;
    background-color: var(--main-color);
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.top_task h5{
    color: gray;
}
.add_task{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--main-color);
    border: 2px dotted var(--main-color) ;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.add_task:hover{
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
}
.detailsPop{
    width: 1100px !important;
    min-height: 700px;
    height: auto;
    border-radius: 10px;
    color: #6a6a6a;
}
.div_detailsPop{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 40px;
}
.div_detailsPop img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.div_detailsPop .span_gen{
    font-weight: bold;
    margin: 10px 0px;
    color: var(--main-color) !important;
}
.task_filter{
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 15px;
}
.task_filter button{
    margin: 10px;
    border: none;
    outline: none;
    padding: 7px 23px;
    background-color: var(--main-color);
    color: white !important;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}
.filter_task{
    position: absolute;
    z-index: 2000;
    /*background-color: white;*/
}
.action_task{
    position: absolute;
    top: -10px;
}
.action_task_right{
    right: 0px;
}
.action_task_left{
    left: 0px;
}
.action_task i{
    font-size: 15px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.editTask{
    background-color: #50B798;
}
.delTask{
    background-color: #e98176;
}
.detail_task{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #cb362590;
}
.tabs_details{
    width: 100%;
    display: flex;
    align-items: center;
    /*margin-bottom: 60px;*/
    margin-top: 10px;
}
.one_tab{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: gray !important;
}
.one_tab i{
    font-size: 20px;
}
.one_tab span{
    font-size: 12px !important;
    margin-top: -0.5px;
    font-weight: normal !important;
    padding-bottom: 3px;
}
.active_task{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color) !important;
}
.visites{
    
    margin-top: 30px;
    padding: 5px 20px;
    overflow-y: auto;
}
.one_visit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 15px 25px;
    background-color: #50B798;
    border-radius: 15px;
}
.visites_info{
    width: 55%;
}
.match{
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 2px;
}
.visit_map{
    width: 40%;
    height: 180px;
}
.margin_top_visit{
    margin-top: 10px;
}
.gen{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.report_type{
    background-color: white;
    color: #50B798;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 13px !important;
}

.general_information{
    width: 35%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted var(--main-color);
    border-radius: 15px;
    padding: 10px 5px;
    overflow-y: auto;
}
.visitis_for_task{
    width: 50%;
    height: 370px;
    padding: 20px;
    overflow-y: auto;
    border: 2px dotted var(--main-color);
    border-radius: 15px;
}
.map_visit{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white !important;
}
.map_visit i{
    font-size: 18px;
}
.map_visit span{
    font-size: 8px;
}
.match_visit{
    font-weight: bold;
    margin: 10px 0px;
    color: white !important;
}
.div_match{
    display: flex;
    align-items: center;
}
.div_match i{
    font-size: 20px;
    /*margin-right: 10px;*/
    color: white;
}
.p_visit{
    color: white !important;
    font-size: 13px;
    margin-top: -7px;
}
.info_visit{
    width: 70%;
}
.default_map{
    height: 250px;
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted var(--main-color);
    border-radius: 15px;
}
.select_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6px;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 8px;
}
.products_visite{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
}
.one_products_visite{
    width: 150px;
    margin: 0px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c3c3f2;
    border-radius: 10px;
}
.one_products_visite img{
    width: 100%;
    height: 110px;
    border-radius: 10px;
}
.one_products_visite h5{
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
.relatied_img{
    width: 100%;
    height: 110px;
    border-radius: 10px;
    background-color: #80808027;
}
.top_minac{
    margin-top: -7px !important;
}
.choise_task button{
    padding: 7px 30px;
    font-size: 13px;
    border: none;
    outline: none;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 14px -1px rgb(163, 163, 163);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.choise_task button:hover{
    transform: scale(1.08);
}
.active_btn_choise{
    background-color: #50b798;
    color: white;
    border: 2px solid white !important;
}
.unactive_btn_choise{
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color) !important;
}

.gen_filter{
    position: absolute;
    background-color: var(--main-color);
    color: white;
    padding: 3px 20px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    top: 15px;
}

.arrowRight{
    position: absolute;
    background-color: white;
    padding: 15px;
    top: 40%;
    right: -14px;
    z-index: 200;
    border-radius: 50%;
    color: #34425A;
    box-shadow: 0px 0px 25px -1px #c8c8c8;
    font-size: 25px;
}
.arrowLeft{
    position: absolute;
    background-color: white;
    padding: 15px;
    top: 40%;
    left: -14px;
    z-index: 200;
    border-radius: 50%;
    color: #34425A;
    box-shadow: 0px 0px 25px -1px #c8c8c8;
    font-size: 25px;
}