.table2 {
    height: 730px;
    background-color: white;
    overflow: auto;
}

/*.table2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f7f7f7a0;
    border-radius: 10px;
}

.table2::-webkit-scrollbar-thumb {
    background: #f7f7f7a0;
    border-radius: 10px;
}

.table2::-webkit-scrollbar-thumb:hover {
    background: #f7f7f7a0;
}*/

.newTable {
    background: red;
}

.tt {
    background-color: transparent !important;
}

.search_table {
    width: 100%;
    background: var(--light);
}

.search_table input {
    background-color: transparent;
}

.del {
    font-size: 18px;
    color: red;
    cursor: pointer;
}

.custom-table {
    min-height: 500px;
    background-color: white;
    overflow-y: scroll;
}

.custom-table .rdt_TableRow {
    border-bottom: none !important;
}
.custom-table-border .rdt_TableRow{
    border-bottom: 1px solid #e4e4e4 !important;
}