.div_request{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 40px;
}
.div_request_left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_request_left img{
    width: 60%;
}
.div_request_left h4{
    font-size: 19px;
    color: var(--main-color);
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}
.div_request_right{
    width: 55%;
    border: 1px solid #e3e2e2;
    border-radius: 5px;
    padding: 30px 60px;
}
.div_request_right h3{
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-color);
}
.div_request_right p{
    margin-bottom: 10px;
    color: gray;
}
.div_request_right input,.div_request_right textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    color: gray;
}
.div_request_right textarea{
    height: 100px;
}
.div_request_right input:focus{
    border: 1px solid var(--main-color);
}
.div_request_right button{
    border: none;
    padding: 6px 30px;
    outline: none;
    border-radius: 10px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}

@media screen and (max-width: 884px) {
    .div_request_left{
        width: 100%;
        margin-bottom: 30px;
    }
    .div_request_right{
        width: 100%;
    }
}