.targetgroup,
.targetfilter {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 25px 20px;
}
.targetfilter{
    align-items: center;
}
.newFilterrr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.oneGroup {
    width: 22%;
    padding: 20px 10px 10px 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e4e4a7;
    border-radius: 15px;
    color: gray;
    position: relative;
}
.oneGroup h6{
    margin-top: -10px;
}
.group_header {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color) !important;
    text-align: center;
}

.group_header input,
.group_header select,
.editTextarea,
.editInput {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #cececea7;
    border-radius: 15px;
    outline: none;
    color: gray;
}

.editInput {
    width: 50% !important;
}

.group_header select {
    width: 90px;
}

.editTextarea {
    width: 85% !important;
    min-height: 80px;
    margin-bottom: 10px;
}

.group_cat {
    /*margin-left: 20px;*/
    margin-top: 9px;
}

.oneGroup img {
    width: 75px;
    height: 60px;
    margin-bottom: 10px;
}
.doctorr{
    width: 60px !important;
    height: 60px !important;
}

.oneGroup p {
    text-align: center;
}

.group_address {
    width: 100%;
    padding: 0px 22px;
    margin-bottom: 6px;
    display: flex;
}

.group_address i {
    font-size: 20px;
    /*margin-right: 10px;*/
}
.group_address img {
    width: 17px;
    height: 17px;
}
.loc22{
    width: 17px !important;
    height: 22px !important;
}

.group_address span {
    font-size: 13px;
}

.target_type {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: /*#22baa18d*/ #50B798;
    color: white;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 13px;
}

.targrt_plus {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.targrt_plus:hover {
    transform: scale(1.2);
}

.add_target_group {
    position: absolute;
    top: 50px;
    width: 550px;
    height: 500px;
    overflow: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -1px rgb(223, 222, 222);
    z-index: 10;
    padding: 20px 40px;
}
.add_target_group_en{
    right: 0px;
}
.add_target_group_ar{
    left: 0px;
}

.general_add {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.general_add i {
   /* margin-right: 10px;*/
    font-size: 25px;
}

.form_header {
    display: flex;
    align-items: center;
}

.form_header i {
    color: var(--main-color);
    /*margin-right: 10px;*/
}

.form_header span {
    color: #6a6a6a;
    font-size: 14px;
}

.general_form {
    width: 100%;
}

.general_form input,
.general_form textarea,
.general_form select {
    border: none;
    border-bottom: 1px solid #d3d0d0a7;
    outline: none;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: gray;
}

.general_form select {
    padding-bottom: 5px;
}

.margin_top_input {
    margin-top: 15px;
}

.div_map {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin: 15px 0px;
    position: relative;
}

.map_marker {
    z-index: 10;
    color: red;
    font-size: 25px;
}

.general_form button {
    margin: 10px;
    border: none;
    outline: none;
    padding: 7px 23px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}
.width_23p{
    width: 23% !important;
}
.oneFilter,.oneFilter2 {
    width: 19%;
    height: 50px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oneFilter2{
    width: 40% !important;
}
.oneFilter input,
.oneFilter select,.oneFilter2 input, .oneFilter2 select {
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    padding: 7px 10px;
    color: gray;
    margin-top: -5px;
    font-size: 13px;
}

.oneFilter select,.oneFilter2 select {
    padding: 9px 10px;
}

.targetfilter_button_img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.targetfilter_button {
    margin: 10px 3px;
    border: none;
    outline: none !important;
    padding: 6px 23px !important;
    background-color: var(--main-color);
    color: white !important;
    cursor: pointer;
    border-radius: 20px;
    font-size: 13px;
}

.action_target {
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action_target i {
    font-size: 12px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
    background-color: var(--main-color);
    padding: 4px;
    border-radius: 50%;
}

.action_target i:hover {
    transform: scale(1.3);
}

.edit_btn {
    border: none;
    outline: none;
    padding: 3px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    font-size: 13px;
    margin: 10px 0px;
    cursor: pointer;
}

@media screen and (max-width: 1340px) {
    .oneGroup {
        width: 29%;
    }
}

@media screen and (max-width: 1175px) {
    .oneFilter {
        width: 24%;
    }
    .width_23p{
        width: 28% !important;
    }
}

@media screen and (max-width: 1062px) {
    .oneGroup {
        width: 43%;
    }
}

@media screen and (max-width: 771px) {
    .oneFilter {
        width: 30%;
    }
    .width_23p{
        width: 34% !important;
    }
}

@media screen and (max-width: 703px) {
    .oneGroup {
        width: 85%;
    }
}

@media screen and (max-width: 682px) {
    .oneFilter {
        width: 45%;
    }
    .width_23p{
        width: 49% !important;
    }
}

@media screen and (max-width: 559px) {
    .oneFilter {
        width: 85%;
    }
    .width_23p{
        width: 89% !important;
    }
}

.gm-fullscreen-control {
    display: none !important;
}
.fullscreen{
    z-index: 100;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.fullscreen:hover{
    color: #454545;
}
.choise_task{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-bottom: 20px;
}
.files_target{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -38px;
    cursor: pointer;
}
.files_target i{
    font-size: 30px;
    background-color: white;
    color: var(--main-color);
    margin-right: 10px;
    box-shadow: 0px 0px 14px -1px rgb(163, 163, 163);
    padding: 10px;
    border-radius: 50%;
}
.div_tooltip{
    position: relative;
}

.div_tooltip .tooltip {
    position: absolute;
    top: 0;
    left: -50px;
    width: 150px;
    z-index: 150;
    background: white;
    color: var(--main-color);
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.div_tooltip:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.div_tooltip .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: white;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tip_img{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 5px;
}
.excel_img{
    width: 30px;
    height: 30px;
}
.pointer_img{
    width: 25px;
    height: 25px;
}
.plus_img{
    width: 19px;
    height: 19px;
}
.img_product_category{
    width: 20px;
    height: 20px;
}
.view_creatable_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    border-radius: 15px;
    color: gray;
}
.div_loadd{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popExcel{
    width: 500px;
    border-radius: 10px;
}
.div_popExcel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.div_popExcel img{
    width: 50px;
    height: 50px;
}
.div_popExcel h4{
    font-size: 16px;
    margin-top: 20px;
}
.div_popExcel div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 13px 25px;
    transition: all .4s ease-in-out;
    border-radius: 15px;
}
.div_popExcel div:hover{
    background-color: #f3f3f3;
}
.div_with{
    padding: 30px;
}