.popupWarning{
    border-radius: 10px;
}
.warning{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.warning img{
    width: 130px;
    height: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn_warning{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn_warning button{
    margin: 0px 15px;
    border: none;
    padding: 5px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 13px;
}
.yes{
    background-color: var(--main-color);
    color: white;
}
.no{
    background-color: gray;
    color: white;
}
.btn_warning button:hover{
    transform: scale(1.06);
}

@media screen and (max-width: 490px) {
    .warning{
        width: 300px;
    }
}
@media screen and (max-width: 383px) {
    .warning{
        width: 260px;
    }
}