.allproducts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
}
.oneFlow{
    width: 22%;
    padding: 25px 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e4e4c2;
    border-radius: 15px;
    color: gray;
    position: relative;
    background-color: transparent;
}
.oneFlow img{
    width: 45px;
    height: 45px;
   /* margin-right: 20px;*/
}
.city_flow{
    font-weight: bold;
    color: var(--main-color);
    margin: 5px 0px;
}
.header_flow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.oneFlow p{
    text-align: center;
    margin: 8px 0px;
    font-size: 14px;
}
.flow_icon{
    display: flex;
    align-items: center;
}
.flow_icon i{
    font-size: 25px !important;
    margin: 6px 10px 3px 10px;
    cursor: pointer;
}
.delFlow{
    color: #f25656;
}
.editFlow{
    color: /*#22baa1*/ #50B798;
}
@media screen and (max-width: 1340px) {
    .oneFlow {
        width: 29%;
    }
}
@media screen and (max-width: 1062px) {
    .oneFlow {
        width: 43%;
    }
}
@media screen and (max-width: 703px) {
    .oneFlow {
        width: 85%;
    }
}
.input_edit_flow{
    width: 60%;
    border: none;
    outline: none;
    border: 1px solid #bdbdbd;
    padding: 2px 5px;
    border-radius: 5px;
    color: gray;
}
.textarea_flow{
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    border: 1px solid #bdbdbd;
    padding: 2px 5px;
    border-radius: 5px;
    color: gray;
}
.swith_flow{
    position: absolute !important;
    top: 5px;
    left: 5px;
}