.nodata{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
    height: 400px;
}
.nodata img{
    width: 100px;
    height: 100px;
}
.nodata h4{
    margin-top: 20px;
    font-size: 15px;
}