.bothTable{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.table_country{
    width: 58%;
}
.table_city{
    width: 38%; 
    padding: 0px 20px;
    
}
.div_country{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}
.div_country div{
    display: flex;
    align-items: center;
}
.div_country div i{
    font-size: 30px;
    color: var(--main-color);
}
.div_country div h4{
    margin-top: 9px;
    /*margin-left: 10px;*/
    color: #6a6a6a;
}
.div_country button{
    border: none;
    outline: none;
    padding: 5px 20px;
    font-size: 13px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.icon_edit_table{
    font-size: 23px;
    color: /*#22baa1*/ #50B798;
    cursor: pointer;
    margin-right: 10px;
}
.icon_del_table{
    font-size: 23px;
    color: #f25656d7;
    cursor: pointer;
}
.icon_choise_table{
    font-size: 23px;
    color: gray;
    cursor: pointer;
}
.inputSearch{
    width: 100%;
    padding: 5px 20px 5px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-color);
    color: gray;
}
.allcities{
    width: 100%;
    margin-top: 20px;
    height: 700px;
    overflow: auto;
    padding: 5px 15px;
}
.onecity{
    width: 100%;
    background-color: white;
    border: 1px solid #e5e4e4c2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.onecity span{
    color: gray;
}
.btn_table{
    border: none;
    outline: none !important;
    padding: 5px;
    margin: 0px 5px;
    font-size: 11px !important;
    border-radius: 5px;
    cursor: pointer;
}
.btn_view_table{
    background-color: #4285C5;
    color: white;
}
.addPop{
    width: 620px ;
    /*height: 280px;*/
    border-radius: 10px;
}
.div_addPop{
    margin: 30px 30px 20px 30px;
}
.div_addPop h3{
    color: var(--main-color);
    margin-bottom: 20px;
}
.div_addPop input,.div_addPop select,.div_addPop textarea{
    width: 100%;
    border: 1px solid #80808087;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}
.div_addPop select{
    padding: 8px 10px;
}
.div_addPop input:focus{
    border: 1px solid var(--main-color);
}
.div_addPop button{
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 5px 30px;
    font-size: 13px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
.editCity{
    width: 100%;
    border: none;
    border-bottom: 1px solid #80808087 ; 
    color: gray;
    font-size: 13px;
    padding: 5px 10px;
}
.editCity:focus{
    border-bottom: 1px solid var(--main-color);
}