@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
    font-family: 'GE SS TWO';
    src: url('./fonts/GE\ SS\ Two\ Light.otf');
}
@font-face {
    font-family: 'AMBOULES';
    src: url('./fonts/AMPOULES.ttf');
}
@font-face {
    font-family: 'EYE DROPS';
    src: url('./fonts/EYE\ DROPS.otf');
}
@font-face {
    font-family: 'IVS';
    src: url('./fonts/IVS.ttf');
}
@font-face {
    font-family: 'NASAL DROPS';
    src: url('./fonts/NASAL\ DROPS.otf');
}
@font-face {
    font-family: 'Calibri Bold';
    src: url('./fonts/Calibri\ Bold.TTF');
}   
@font-face {
    font-family: 'Nexa bold';
    src: url('./fonts/Nexa\ Bold.otf');
}   
@font-face {
    font-family: 'Dubai Bold';
    src: url('./fonts/Dubai\ Bold.ttf');
}   

body {
    background-color: #f6f6f6d6;
}

:root {
    --main-color:
        /*#9699c2*/
        #5263A4;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e0e0e08b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e08b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e0e0e08b;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    /*font-family: 'Merriweather', sans-serif;*/
}

/*#menu-toggle {}*/

.sidebar_en {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    background: white;
    transition: left 300ms;
    font-family: "Calibri Bold" !important;
}

.sidebar_ar {
    position: fixed;
    height: 100%;
    width: 165px;
    right: 0;
    bottom: 0;
    top: 0;
    font-family: 'GE SS TWO' !important;
    background: white;
    transition: right 300ms;
}

.side-menu ul li a {
    text-decoration: none;
    color: white !important;
}

.side-menu ul li:hover {
    background: #e7e7e7ad;
}



.side-header {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allname {
    width: 135px;
    height: 40px;
}

.flower {
    width: 40px;
    height: 40px;
}

.side-header h3,
.side-head span {
    color: black;
    font-weight: 400;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
.side-content::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
    background: white;
}

.profile {
    text-align: center;
    padding: 1rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}

.profile-img {
    height: 75px;
    width: 75px;
    display: inline-block;
    margin: 0 auto .5rem auto;
}

.profile h4 {
    color: #fff;
    font-weight: 500;
}

.profile small {
    color: #899DC1;
    font-weight: 600;
    width: 100%;
}


.side-menu ul {
    text-align: center;
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a.active {
    background-color: #5263A4;
}

.side-menu a.active:hover .side-menu a.active small {
    color: white !important;
}

.side-menu a.active span,
.side-menu a.active small {
    color: white;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.side-menu a span,
.side-menu a small {
    color: var(--main-color);
}

.flower {
    display: none;
}

#menu-toggle:checked~.sidebar_en {
    width: 60px;
}

#menu-toggle:checked~.sidebar_ar {
    width: 60px;
}

#menu-toggle:checked~.sidebar_en .side-header .flower {
    display: block;
}

#menu-toggle:checked~.sidebar_en .side-header .allname {
    display: none;
}

#menu-toggle:checked~.sidebar_en .side-header span {
    display: none;
}

#menu-toggle:checked~.sidebar_ar .side-header .flower {
    display: block;
}

#menu-toggle:checked~.sidebar_ar .side-header .allname {
    display: none;
}

#menu-toggle:checked~.sidebar_ar .side-header span {
    display: none;
}

#menu-toggle:checked~.main-content_en {
    margin-left: 60px;
    width: calc(100% - 60px);
    /**/
}

#menu-toggle:checked~.main-content_ar {
    margin-right: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked~.main-content_en .header_en {
    left: 60px;
    /*right: 60px;*/
}

#menu-toggle:checked~.main-content_ar .header_ar {
    right: 60px;
}

#menu-toggle:checked~.sidebar_en .profile,
#menu-toggle:checked~.sidebar_en .side-menu a small {
    display: none;
}

#menu-toggle:checked~.sidebar_en .side-menu a span {
    font-size: 1.3rem;
}

#menu-toggle:checked~.sidebar_ar .profile,
#menu-toggle:checked~.sidebar_ar .side-menu a small {
    display: none;
}

#menu-toggle:checked~.sidebar_ar .side-menu a span {
    font-size: 1.3rem;
}


.main-content_en {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
    background-color: #f6f6f6d6;
    position: relative;
    font-family: "Calibri Bold";
    /*margin-right: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
    background-color: #f6f6f6d6;
    direction: rtl;*/
    
}
.main-content_en .oneFilter input {
    font-family: "Calibri Bold";
}
.main-content_en  input {
    font-family: "Calibri Bold";
}
/* .main-content_en  .react-datepicker__month-container {
    font-family: "Calibri Bold" !important;
} */



.main-content_ar {
    margin-right: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
    background-color: #f6f6f6d6;
    position: relative;
    font-family: 'GE SS TWO' !important;
   
    /*direction: rtl;*/
}
.main-content_ar  .oneFilter input{
    font-family: 'GE SS TWO' !important;
}
.main-content_ar  input{
    font-family: 'GE SS TWO' ;
    /*direction: rtl;*/
}
/* .main-content_ar  .react-datepicker__month-container {
    font-family: 'GE SS TWO' !important;

} */





.header_en {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 50px;
    color: white;
    background: #5263A4;
    transition: left 300ms;
    /**/
}

.header_ar {
    position: fixed;
    left: 0;
    top: 0;
    right: 165px;
    z-index: 100;
    height: 50px;
    color: white;
    background: #5263A4;
    transition: right 300ms;
}

.header-content,
.header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin: 0rem 1rem;
    position: relative;

}

.ql-snow .ql-picker.ql-font{
    display: none;
}

.ring-container {
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ringring {
    border: 3px solid red;
    border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
}

.user div,
.client-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.user .bg-img {
    border-radius: 50%;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 35px;
}

.page-header {
    padding: 1.3rem 1rem;
    height: 105px;
    margin-top: -10px;
    background: #5263A4;
    border-bottom: 1px solid #dee2e8;
}

.page-header h4,
.page-header small {
    color: white;
    margin-top: -20px;
}

.page_header_small {
    float: right;
    margin-top: 1px !important;
}

.page-content {
    padding: 1.3rem 1rem;
    background: white;
    margin: -35px 60px 20px 60px;
    border-radius: 30px;
    min-height: 90vh;
    /*overflow: auto;*/
    position: relative;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card {
    /*box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);*/
    background: white;
    padding: 1rem;
    border: 1px solid #ebebebf2;
    border-radius: 15px;
}

.border_green {
    border-bottom: 6px solid #49B69c;
}

.border_pink {
    border-bottom: 6px solid #EA4D68;
}

.border_blue {
    border-bottom: 6px solid #56ADE1;
}

.border_yellow {
    border-bottom: 6px solid #F9B24D;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-head h2 {

    font-size: 1.6rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-head img {
    width: 50px;
    height: 50px;
}

.card-progress .desc_card {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
    width: 100%;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    /*border-radius: 4px;*/
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background:
        /*#22baa18d*/
        /*#50B798*/
        #50b79890;
}

.indicator.two {
    background:
        /*#9699c28e*/
        #9092bb98;
}

.indicator.three {
    background:
        /*#f6d63384*/
        #f67eb490;
}

.indicator.four {
    background:
        /*#f256568d*/
        #cb362590;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
}

.record-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add,
.browse {
    display: flex;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}

input,
button,
select {
    outline: none;
}

.add select,
.browse input,
.browse select {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    width: 75px;
    padding: 0rem .5rem;
    margin: 0px .8rem;
    color: #666;
}

.add button {
    background: var(--main-color);
    color: #fff;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}

.browse input {
    width: 150px;
}

.browse select {
    width: 100px;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

.client {
    display: flex;
    align-items: center;
}

.flex_reverse {
    flex-direction: row-reverse !important;
}

.client-img {
    margin-right: .5rem;
    border: 2px solid #b0b0b0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.client-info {
    display: flex;
    flex-direction: column;
}

.client-info span {
    color: #555;
    font-size: .95rem;
}

.client-info small {
    color: #777;
}

.actions span {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.paid {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    background: #e5f8ed;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
}

@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 931px) {
    .analytics {
        grid-template-columns: 100%;
    }

    .sidebar_en {
        left: -165px;
        z-index: 90;
        /*right: -165px;
        z-index: 90;*/
    }

    .sidebar_ar {
        right: -165px;
        z-index: 90;
    }

    .header_en {
        left: 0;
        width: 100%;
        /*right: 0;
        width: 100%;*/
    }

    .header_ar {
        right: 0;
        width: 100%;
    }

    .main-content_en {
        margin-left: 0;
        width: 100%;
        /*margin-right: 0;
        width: 100%;*/
    }

    .main-content_ar {
        margin-right: 0;
        width: 100%;
    }

    #menu-toggle:checked~.sidebar_en {
        left: 0;
        width: 165px;
        /*right: 0;*/
    }

    #menu-toggle:checked~.sidebar_ar {
        width: 165px;
        right: 0;
    }

    /*#menu-toggle:checked ~ .sidebar {
        width: 165px;
    }*/

    #menu-toggle:checked~.sidebar_en .side-header span,
    #menu-toggle:checked~.sidebar_ar .side-header span {
        display: inline-block;
    }


    #menu-toggle:checked~.sidebar_en .profile,
    #menu-toggle:checked~.sidebar_en .side-menu a small,
    #menu-toggle:checked~.sidebar_ar .profile,
    #menu-toggle:checked~.sidebar_ar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked~.sidebar .side-menu a span {
        font-size: 1.7rem;
    }

    #menu-toggle:checked~.main-content_en header {
        left: 0px;
        /*right: 0;*/
    }

    #menu-toggle:checked~.main-content_ar header {
        right: 0;
    }

    table {
        width: 900px;
    }

    .add,
    .browse {
        margin-left: 10px;
    }

    .side-header {
        background-color: var(--main-color) !important;
    }
}

/*****************************************/
.textRight {
    text-align: right !important;
}

.textLeft {
    text-align: left;
}

.pets {
    background-color: red;
}

.basket {
    background-color: aqua;
    height: 500px;
}

.padding_right_10 {
    padding-right: 10px;
}

.margin_left_10 {
    margin-left: 10px;
}

.margin_right_10 {
    margin-right: 10px;
}

.margin_left_20 {
    margin-left: 20px;
}

.margin_right_20 {
    margin-right: 20px;
}

.margin_left_30 {
    margin-left: 30px;
}

.margin_right_30 {
    margin-right: 30px;
}

.padding_left_30 {
    padding-left: 30px !important;
}

.padding_right_30 {
    padding-right: 30px !important;
}

.margin_left_15p {
    margin-left: 15%;
}

.margin_left_5p {
    margin-left: 5%;
}

.margin_top_20 {
    margin-top: 20px;
}

.Gen_icon {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Gen_icon i {
    font-size: 19px;
    margin: 0px 10px;
    color: #9699c2;
}

.swith_add {
    margin: 15px 20px;
}

.require {
    font-size: 25px !important;
    color: red !important;
    margin: 0px 10px;
}

button {
    outline: none !important;
}

.allPages {
    position: relative;
}

.react-responsive-modal-modal {
    max-width: none;
}

@media screen and (max-width: 915px) {
    .page-content {
        margin: -35px 20px 20px 20px;
    }
}

.color_spann {
    font-size: 15px !important;
    font-weight: 600 !important;
}

.div_icon_sid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icon_sid {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}
.font_family_arr{
    font-family: 'GE SS TWO' !important;
}
.defHeight{
    height: 20px;
}
.defHeight1{
    height: 30px;
}

.CalibriBold{
    font-family: "Calibri Bold" !important;
    *{

        font-family: "Calibri Bold" !important;
    }
    .side-menu a span, .side-menu a small{
        font-family: "Calibri Bold" !important;
    }
}