.allvacation {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin:  20px;
    background-color: transparent;
}
.allonevacation{
    width: 22%;
    border: 1px solid #e5e4e4c2;
    border-radius: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.onevacation {
    width: 100%;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: gray;
    position: relative;
    background-color: white;
}
.onevacation img{
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
}
.under_img{
    width: 100%;
}
.div_reason{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.reason_start{
    align-items: flex-start;
}
.reason_end{
    align-items: flex-end;
    justify-content: flex-end;
}
.delegate_name img{
    width: 25px !important;
    height: 25px !important;
    margin-top: 20px;
}
.onevacation h2{
    font-size: 30px;
    font-weight: bold;
}
.color_h2_daily{
    color: /*#22baa18d*/ #50B798;
}
.color_h2_hourly{
    color: #f256568d;
}
.onevacation p{
    text-align: center;
    margin: 8px 0px;
    line-height: 1.1;
}
.delegate_name{
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: gray;
}
.delegate_name i{
    padding: 7px;
    background-color: var(--main-color) !important;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    margin-right: 15px;
}
.date_vac{
    font-size: 14px;
}
.div_date_vac{
    display: flex;
    align-items: center;
}
.div_date_vac i{
    /*margin-right: 5px;*/
    font-size: 20px !important;
}
.btn_vac{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-top: 1px solid #e5e4e4a7 ;
    padding-top: 15px;
}
.btn_vac button{
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 3px 20px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border-top: 1px solid #e5e4e4c2 ;
}
.btn_vac_accept{
    background-color: var(--main-color);
}
.btn_vac_reject{
    background-color: #f256568d;
}
.btn_vac select{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--main-color) ;
    color: gray;
}
@media screen and (max-width: 1340px) {
    .allonevacation {
        width: 29%;
    }
}
@media screen and (max-width: 1062px) {
    .allonevacation {
        width: 43%;
    }
}
@media screen and (max-width: 703px) {
    .allonevacation {
        width: 85%;
    }
}