.allsetting{
    width: 100%;
    padding: 10px;
}
.onesetting{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.emptyset{
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 2px dotted var(--main-color);
    padding: 20px;
    transition: all .3s ease-in-out;
    height: 400px;
    overflow-y: auto;
    position: relative;
    z-index: 80;
    margin-bottom: 20px;
}
.set1{
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5e4e4f2;
    padding: 20px;
    transition: all .3s ease-in-out;
    height: 400px;
    overflow-y: auto;
    /*margin-right: 50px;*/
    position: relative;
    z-index: 80;
    margin-bottom: 20px;
}

.set1 p{
    font-size: 13px;
    color: gray;
    margin-top: -10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 35%;
}
.set1 p:hover{
    border-bottom: 1px solid gray;
}
.set1:hover{
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
}
.set1 h5,.emptyset h5{
    margin-bottom: 15px;
    color: var(--main-color);
}
.set1 input, .set1 textarea,.set1 select{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}
.set1 input:focus, .set1 textarea:focus{
    border: 1px solid var(--main-color);
}
.set1 button{
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-size: 13px;
    color: white;
    padding: 5px 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    margin-top: 15px;
}
.set3{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5e4e4f2;
    padding: 20px;
    transition: all .3s ease-in-out;
    height: 400px;
    overflow-y: auto;
    /*margin-right: 50px;*/
    position: relative;
    z-index: 80;
    margin-bottom: 20px;
}

.set3 p{
    font-size: 13px;
    color: gray;
    margin-top: -10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 35%;
}
.set3 p:hover{
    border-bottom: 1px solid gray;
}
.set3:hover{
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
}
.set3 h5,.emptyset h5{
    margin-bottom: 15px;
    color: var(--main-color);
}
.set3 input, .set3 textarea,.set3 select{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}
.set3 input:focus, .set3 textarea:focus{
    border: 1px solid var(--main-color);
}
.set3 button{
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-size: 13px;
    color: white;
    padding: 5px 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    margin-top: 15px;
}
.reportPop{
    width: 700px;
    height: 500px;
    overflow-y: auto;
    border-radius: 10px;
    padding-top: 50px;
}
.report_row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.report_info{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.report_info span{
    font-size: 13px ;
    color: gray;
}
.report_action{
    width: 12%;
    display: flex;
    align-items: center;
}
.report_line{
    width: 90%;
    height: 1px;
    background-color: #e5e4e4db;
    margin: 20px auto;
}
.title_report{
    color: var(--main-color) !important;
    margin-bottom: 5px;
    font-size: 18px !important;
}
.report_action i{
    font-size: 23px;
    margin: 0px 5px;
    cursor: pointer;
}
.report_action_edit{
    color: /*#22baa1e6*/ #22baa1;
}
.report_action_del{
    color: #f25656f1;
}
.report_info input , .report_info textarea{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(207, 206, 206);
    padding: 5px 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}
.spec_class{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdada;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.seespec{
    font-size: 13px;
    color: gray;
    cursor: pointer;
}
.setting_icon{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.setting_icon i{
    font-size: 19px;
    /*margin-right: 10px;*/
    color: #9699c2;
}
.setting_icon1{
    width: 100%;
    display: flex;
    align-items: center; 
}
.setting_icon1 i{
    font-size: 21px;
    color: #9699c2;
}
.setting_icon1 span{
    color: gray;
}
.configPop{
    width: 400px;
    height: 500px;
    overflow-y: auto;
    border-radius: 10px;
    padding-top: 50px;
}
.set2{
    width: 18%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.set2 span{
    text-align: center !important;
    color: white;
}
.nonOver{
    overflow-x: hidden !important;
    overflow-y: auto;
}
.loadSetting{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nomarginLeft{
    margin-left: 0px !important;
}
.head_report{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.report_action{
    width: 23%;
    display: flex;
    align-items: center;
}
.servicereport{
    font-size: 13px;
    color: #50B798;
    font-weight: bold;
    margin-top: -10px;
}
.descreport{
    font-size: 13px;
    color: gray;
}
.input_edit_report{
    padding: 3px 10px !important;
    margin-bottom: 0px !important;
}
.bottom{
    margin-bottom: 10px !important;
}




.set1{
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5e4e4f2;
    padding: 20px;
    transition: all .3s ease-in-out;
    height: 400px;
    overflow-y: auto;
    /*margin-right: 50px;*/
    position: relative;
    z-index: 80;
    margin-bottom: 20px;
}
.emptyset{
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 2px dotted var(--main-color);
    padding: 20px;
    transition: all .3s ease-in-out;
    height: 400px;
    overflow-y: auto;
    position: relative;
    z-index: 80;
    margin-bottom: 20px;
}
.set1 p{
    font-size: 13px;
    color: gray;
    margin-top: -10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 35%;
}
.set1 p:hover{
    border-bottom: 1px solid gray;
}
.set1:hover{
    box-shadow: 0px 0px 30px -1px rgb(209, 209, 209);
}
.set1 h5,.emptyset h5{
    margin-bottom: 15px;
    color: var(--main-color);
}
.set1 input, .set1 textarea,.set1 select{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}
.set1 input:focus, .set1 textarea:focus{
    border: 1px solid var(--main-color);
}
.set1 button{
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-size: 13px;
    color: white;
    padding: 5px 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    margin-top: 15px;
}

@media screen and (max-width: 1520px) {
    .set1 {
        width: 270px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 1243px) {
    .set1 {
        width: 360px;
        margin-right: 50px;
    }
}
@media screen and (max-width: 1163px) {
    .set1 {
        width: 320px;
        margin-right: 50px;
    }
}
@media screen and (max-width: 1085px) {
    .set1 {
        width: 280px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 786px) {
    .set1 {
        width: 380px;
    }
}
.allsetting_icon{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.timee{
    cursor: pointer;
    font-size: 22px;
}
.margin_right_50{
    margin-right: 50px;
}
.margin_left_50{
    margin-left: 50px;
}
.line{
    width: 95%;
    height: 1px;
    background-color: #e5e4e4f2;
    margin: 15px 0px 30px 0px;
}
.div_assign{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn_assign{
    margin-top: -10px;
    font-weight: bold;
    color: #22baa1;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn_assign:hover{
    transform: scale(1.19);
}
.tit_set{
    margin-bottom: 15px;
    color: #767793;
}

@media screen and (max-width: 1320px) {
    .set3 {
        width: 500px;
    }
}
@media screen and (max-width: 1254px) {
    .set3 {
        width: 350px;
    }
}
@media screen and (max-width: 1116px) {
    .set3 {
        width: 500px;
    }
}

.div_tit_set{
    width: 100%;
}

