.login_auth {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.wave {
	width: 55%;
	background: linear-gradient(rgba(53, 37, 37, 0.0), rgba(0, 0, 0, 0.0)), url(../../images/back1.png) center/cover no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wave img {
	width: 600px;
	height: 320px;
}

.containerauth {
	width: 40%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img {
	width: 500px;
}

form {
	width: 360px;
}

.login-content img {
	height: 100px;
	margin-bottom: 30px;
}

.login-content h2 {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div>div {
	position: relative;
	height: 45px;
}

.input-div>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div::before,
.input-div::after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #2788bc;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div:focus::before,
.input-div:focus::after {
	width: 50%;
}

.input-div:focus .div h5 {
	top: -5px;
	font-size: 15px;
}

.input-div:focus .i i {
	color: #2788bc;
}

.input-div>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

a {
	display: block;
	/*text-align: right;*/
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover {
	color: #2788bc;
}

.btn_auth {
	margin: 40px 0px;
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none !important;
	border: none;
	background-color: #5263A4;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}
.logoutt{
	cursor: pointer;
}
@media screen and (max-width: 1020px) {
	.login_auth {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	.wave {
		display: none;
	}

	.containerauth {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}